@model HarrisContactWeb.Models.personalContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>personalContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactHomeTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactHomeTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.personalContactPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.personalContactPostcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.personalContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
