@model HarrisContactWeb.Models.businessContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>businessContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactBusinessTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactBusinessTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessContactPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessContactPostcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.businessContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
